<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reservations</title>
    <meta name="description" content="Owner login">
    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'hoteladmin/orders/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'hoteladmin/orders/bootstrap-theme.min.css' %}">
    <!--[if lt IE 9]>
    <script src="html5shiv.js"></script>
    <script src="respond.min.js"></script>
    <![endif]-->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'hoteladmin/orders/styles.css' %}">
    <!--New Fonts-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    

</head>
<body><div class="tab-content">
                    <div class="tab-pane fade active in" id="tab1">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter confirmation" id="inputConfirmationForSearch">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                        <br>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>CNF Code</th>
                                <th>Customer Name</th>
                                <th>Date of Reservation</th>
                                <th>Time of Reservation</th>
                                <th>Table No</th>
                                
            
                                

                            </tr>
                            </thead>
                            <tbody>
                            {% for reservation in reservations %}
                            <tr id="{{order.order_id}}">
                                
                                <td>
                                    <a href="" data-toggle="modal" data-backdrop="static">
                                        {{reservation.conf_code}}
                                    </a>
                                </td>
                                <td>{{reservation.cust_name}}</td>
                               
                                
                                <td>{{reservation.time}}</td>
                                <td>{{reservation.date}}</td>
                                <td> <button id="{{reservation.conf_code}} " , onclick="send_ajax_request('{{order.order_no}}')"> Delete Reservation </button></td>

                            </tr>
                            {% endfor %}
                           
<!-- 
coloring
red-if food is not prepared
yellow-if food is prepared,bill not paid
green-bill paided
-->
                            </tr>
                            </tbody>
                            </table>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    
</script>
</body>
</html>