{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endpage</title>
    <link href="{% static 'user/endpage.css' %}" type="text/css" rel="stylesheet" />
</head>
<body>
    
    {% if flag %}
    <h1 id="tnk">Thank You For Ordering .</h1>
    {% else %}
    <h3 id="tnk" style="color: red;">Your Past Order at the restaurant : {{order.restaurant.name}} Dated: {{order.date}}: {{order.time}} </h3>

        
    {% endif %}
        
   
    <div class="rw1">
        <div class="cl cl1">
              <h1 id="os">Order Summary</h1>
              {% for item  in order.items.all %}
              <div class="itm">
              
               <div class="rdes">
                <p id="rn">Dish name: {{item.dish.name}}</p>
                <p id="cn">Quantity : {{item.quantity}}</p>
                 </div>
              </div>
              {% endfor %}
              
              

              <div class="tp">
                  <p>Table No : {{order.table_no}}</p>
                  <p>Item Price : {{order.price}}</p>
                  <p>Taxes: 0</p>
                  <P>Extra charges : 0</P>
                  <h2>Total Price : {{order.price}}</h2>
              </div>
        </div>
        
        {% if flag %}
            
        
            
        <div class="cl cl2">
            <div class="opt">
                <a href="{% url 'user:view_restaurant' code %}"><h2>Add Items</h2></a>
            </div>
            <div class="opt">
                <button onclick="send_ajax_request_waiter('{{order.order_no}}')"><h2>Alert Waiter</h2></button>
            </div>
            <div class="opt">
                <button onclick="send_ajax_request_parcel('{{order.order_no}}')"><h2>Request Parcel</h2></button>
            </div>
            <div class="opt">
               <h2>Ready To Pay</h2>
            </div>
            <div class="opt">
                <a href="{% url 'user:index' %}"><h2>Index</h2></a>
            </div>
            <div class="pymt">
                <h1>Payment Mode</h1>
                <div class="p1">
                    <a href="#Cash"><h2>Cash</h2></a>
                </div>
                <div class="p1">
                    <a href="#Card"><h2>Card</h2></a>
                </div>
                <div class="p1">
                    <a href="#UPI"><h2>UPI</h2></a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    
    {% if not flag %}
    <div class="p1">
        <a href="{% url 'user:feedback' order.order_no %}"><h2>Feedback</h2></a>
    </div>
        
    {% endif %}
        
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
        function send_ajax_request_waiter(order_no){
            $.ajax({
                url: '{% url "user:ajax_request_waiter"  %}',
                contentType: "application/json;charset=utf-8",
                method: 'GET',
                data: {
                    "order_no":order_no
                },
                
                success: function(data){
                    if(data.flag){
                        alert(`Request for the waiter has been sent`)
                    }
                }
            })
        }

        function send_ajax_request_parcel(order_no){
            $.ajax({
                url: '{% url "user:ajax_request_parcel"  %}',
                contentType: "application/json;charset=utf-8",
                method: 'GET',
                data: {
                    "order_no":order_no
                },
                
                success: function(data){
                    if(data.flag){
                        alert(`Request of parcel has been sent. A waiter will be with you shortly.`)
                    }
                }
            })

        }

    </script>
</body>
</html>